*

!.gitignore
!doorstop_config.ini
!winhttp.dll
!discord_game_sdk.dll
!START.bat
!/BepInEx/**/*
!/BepInEx
!README.md
!/*.png

/BepInEx/cache/*
/BepInEx/plugins/sinai-dev-UnityExplorer/*
/BepInEx/LogOutput.log
BepInEx/plugins/UniverseLib.Mono.dll
BepInEx/plugins/UnityExplorer.BIE5.Mono.dll
BepInEx/config/com.sinai.unityexplorer.cfg
